---
title: Post
layout: "base.njk"
---

<link href="{{ '/static/css/posts.css' | url }}" rel="stylesheet">
<script src="{{ '/static/js/post.js' | url }}"></script>

<button id="fixedbutton" class="btn btn-lg btn-dark btn-rounded">
    🔝Top
</button>

{% set previousPost = collections.posts | getPreviousCollectionItem(page) %}
{% set nextPost = collections.posts | getNextCollectionItem(page) %}

<div class="container" style="margin-top: 80px;" loading="lazy">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item text-dark"><a href="/">Home</a></li>
          <li class="breadcrumb-item text-dark"><a href="/blog">Blog</a></li>
          <li class="breadcrumb-item text-dark active" aria-current="page">{{ title }}</li>
        </ol>
    </nav>

    
    <div class="card">
        <div class="card-header bg-light">
            <h4 class="text-pl">{{ title }}</h5>
            <h6 class="text-muted mb-0">{{ teaser }}</h5>
        </div>
        <hr class="p-0 m-0">
        <div class="card-body p-5">
            <div class="row">
                <div class="col">
                    <div class="clearfix justify">
                        <figure class="img-fluid rounded col-md-4 mb-3 ms-md-3 rounded float-sm-end">
                            <img src="{{ '/static/img/posts-img/' | url }}{{ img }}" class="img-thumbnail" alt="...">
                        </figure>
                        <a href="/blog" class="card-link btn btn-sm btn-dark blog" style="">Back to blog</a>
                        {% if previousPost %}
                            <a href="{{ previousPost.url }}" class="btn btn-sm btn-primary blog" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ previousPost.data.title }}">
                                Previous post
                            </a>
                        {% endif %}
                        {% if nextPost %}
                            <a href="{{ nextPost.url }}" class="btn btn-sm btn-primary blog" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ nextPost.data.title }}">
                                Next post
                            </a>
                        {% endif %}
                        
                        {{ content | safe }}
                    </div>
                    <div class="col-md-4">
                        <!--Space Holder-->
                    </div>
                </div>      
            </div>
        </div>
        <div class="card-footer text-muted">
            <a href="/blog" class="card-link btn btn-sm btn-dark">Back to blog</a>
            {% if previousPost %}
                <a href="{{ previousPost.url }}" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ previousPost.data.title }}">
                    Previous post
                </a>
            {% endif %}
            {% if nextPost %}
                <a href="{{ nextPost.url }}" class="btn btn-sm btn-primary" data-bs-toggle="tooltip" data-bs-placement="top" title="{{ nextPost.data.title }}">
                    Next post
                </a>
            {% endif %}
        </div>
    </div>
</div>