---
title: Pettyblog
layout: "base.njk"
---

<div class="container" style="margin-top: 80px;" loading="lazy">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item text-dark"><a href="/">Home</a></li>
          <li class="breadcrumb-item text-dark active" aria-current="page">Pettyblog</li>
        </ol>
    </nav>
    <div class="jumbotron jumbotron-fluid mb-4">
        <p class="lead text-light">Interesting posts about my life, tech, or projects!</p>
    </div>

    <div class="row">
        
    {% for post in collections.posts %}
        <div class="col-lg-3 mb-4">
            <div class="card clickable" data-clickable="true" data-href="{{ post.url }}">
                <img src="{{ '/static/img/posts-img/' | url }}{{ post.data.img }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ post.data.title }}</h5>
                    <p class="card-text">{{ post.data.teaser }}</p>
                    <a href="{{ post.url }}" class="btn btn-primary stretched-link">Read</a>
                </div>
            </div>
        </div>
    {% endfor %}

    </div>
</div>