---
title: Homepage
layout: "base.njk"
---

<button id="fixedbutton" class="btn btn-lg btn-dark btn-rounded">
    Next
</button>

<!-- ------- HOMEPAGE ------- -->
<div id="home" class="page-header min-vh-100" style="background-image: url(&#39;{{ '/static/img/background.png' | url }}&#39;);" loading="lazy">
    <span class="mask bg-gradient-dark opacity-4"></span>
    <div class="container">
        <div class="d-flex justify-content-center flex-column">
        <div class="row mb-4">
            <div class="col-md-2 d-flex justify-content-center"><img src="{{ '/static/img/coding.png' | url }}" alt="coding" width="150px"></div>
            <div class="col-lg-10 d-flex align-items-center">
            <h1 class="text-white" style="font-size: 60px;">
                Pierre-Louis Sergent
            </h1>
            </div>
        </div>
        
        <p class="text-white opacity-10 lead pe-5 me-5 fs-4">Welcome to my personal website.</p>
        <div class="buttons">
            <a type="button" href="#about" class="btn btn-lg btn-primary mt-4">
                <i class="fas fa-search"></i> Explore
            </a>
            <a type="button" href="https://github.com/PLsergent?tab=repositories" target="_blank" class="btn btn-lg btn-white mt-4">
                <i class="fas fa-folder-open"></i> My projects
            </a>
        </div>
        </div>
    </div>

    <div class="wave1">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
        </svg>
    </div>
</div>

<!-- ------- ABOUT ME ------- -->
<div id="about" class="page-header min-vh-100 divider1" style="background-color: #35283C;" loading="lazy">
    <div class="container">
    <div class="row">
        <div class="col-lg-3">
        <h1 class="text-white mb-4" style="font-size: 50px;">Who I am</h1>
        </div>
        <div class="col-lg-9">
        <div class="card" style="width: 80%">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<!-- ------- MY EXPERIENCES ------- -->
<div id="experiences" class="page-header min-vh-100" style="background-image: url(&#39;{{ '/static/img/background1.jpg' | url }}&#39;);" loading="lazy">
    <span class="mask bg-gradient-dark opacity-5"></span>
    
    <div class="wave2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
    </div>
    
    <div class="container">
    <div class="row">
        <div class="col-lg-3">
        <h1 class="text-white mb-4" style="font-size: 50px;">Experiences</h1>
        </div>
        <div class="col-lg-9">
        <div class="row">
            <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            </div>
        </div>
        <div class="row mt-4">
            <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            </div>
            <div class="col-lg-4">
            <div class="card">
                <div class="card-body">
                <h5 class="card-title">Card title</h5>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                <a href="#" class="btn btn-primary">Go somewhere</a>
                </div>
            </div>
            </div>
        </div>
        </div>
    </div>
    </div>

    <div class="wave3">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
    </div>
</div>

<!-- ------- SKILLS ------- -->
<div id="skills" class="page-header min-vh-100 divider2" style="background-color: #35283C;" loading="lazy">
    <div class="container">
    <div class="row">
        <div class="col-lg-3">
        <h1 class="text-white mb-4" style="font-size: 50px;">Skills</h1>
        </div>
        <div class="col-lg-9">
        <div class="card" style="width: 80%">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<!-- ------- SOFT SKILLS & HOBBIES------- -->
<div id="hobbies" class="page-header min-vh-100" style="background-image: url(&#39;{{ '/static/img/background2.jpg' | url }}&#39;);" loading="lazy">
    <span class="mask bg-gradient-dark opacity-5"></span>

    <div class="wave2">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
    </div>

    <div class="container">
    <div class="row">
        <div class="col-lg-3">
        <h1 class="text-white mb-4" style="font-size: 50px;">Soft skills & hobbies</h1>
        </div>
        <div class="col-lg-9">
        <div class="card" style="width: 80%">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    </div>
    </div>

    <div class="wave4">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M321.39,56.44c58-10.79,114.16-30.13,172-41.86,82.39-16.72,168.19-17.73,250.45-.39C823.78,31,906.67,72,985.66,92.83c70.05,18.48,146.53,26.09,214.34,3V0H0V27.35A600.21,600.21,0,0,0,321.39,56.44Z" class="shape-fill"></path>
    </svg>
    </div>
</div>

<!-- ------- CONTACT ME ------- -->
<div id="contact" class="page-header min-vh-100 divider3" style="background-color: #35283C;" loading="lazy">
    <span class="mask bg-gradient-dark opacity-5"></span>
    <div class="container">
    <div class="row">
        <div class="col-lg-3">
        <h1 class="text-white mb-4" style="font-size: 50px;">Contact me</h1>
        </div>
        <div class="col-lg-9">
        <div class="card" style="width: 80%">
            <div class="card-body">
            <h5 class="card-title">Card title</h5>
            <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
            </div>
        </div>
        </div>
    </div>
    </div>
</div>